
REDIS_HOST=your_redis_host_here
REDIS_PORT=your_redis_port_here
REDIS_PASSWORD=your_redis_password_here
REDIS_USERNAME=default
REDIS_MAX_CONNECTIONS=20
REDIS_SOCKET_TIMEOUT=2
REDIS_CONNECT_TIMEOUT=2
REDIS_DB=0
